<html ng-app="con4">
<head>
	<meta charset="UTF-8">
	<title>Connect 4</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/styles/game.css">
</head>
<body ng-controller="GameController" class="container">
	
	<div class="container">
		<div class="game-heading">
			<h1 class="text-center">Connect Four</h1>
		</div>
		<div>
			<div class="victory-message text-center" ng-if="victory">
				<h1 ng-style="{'color': victor}">{{victor}} wins!</h1>
				<button class="btn btn-info" ng-click="newGame()">Play Again?</button>
			</div>
			<div class="row board">
				<div class="col-xs-1 col-md-2">
					<div class="flying-buttress pull-right"></div>
					<div class="flying-buttress-foot left-foot"></div>
				</div>
				<div class="col-xs-10 col-md-8">
					<div class="text-center">
						<div class="row" ng-repeat="row in grid">
							<div class="cell" ng-repeat="cell in row" ng-click="dropToken(cell.col)" ng-style="{'opacity': victory ? 0.5 : 1.0}">
								<div class="token" ng-style="{'background-color': cell.hasToken ? cell.color : '#fff'}"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-1 col-md-2">
					<div class="flying-buttress pull-left"></div>					
					<div class="flying-buttress-foot right-foot"></div>					
				</div>
			</div>
		</div>
	</div>
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	
	<script src="app/game.js"></script>
	
</body>
</html>