.board {
	padding-top: 24px;
}

.cell{
	display: inline-block;
	background-color: gold;
	border: 1px solid goldenrod;
	height: 80px;
	width: 80px;
	text-align: center;
	padding-top: 6px;
}

.token{
	border-radius: 100px;
	display: inline-block;
	height: 65px;
	width: 65px;
}

.flying-buttress {
	width: 24px;
	height: 560px;
	background-color: blue;
	position: relative;
}

.flying-buttress-foot {
	width: 0; 
	height: 0; 
	border-top: 96px solid transparent;
	border-bottom: 48px solid transparent;	
	border-left: 48px solid blue;
  }

.left-foot {
	position: absolute;
	bottom: 0px;
	right: -36px;
}

.right-foot {
	position: absolute;
	bottom: 0px;
	left: 42px;
}